<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Список собак{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container-fluid">
    <a class="navbar-brand" href="#">Наши собаки</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Главная</a>
        </li>
          {% if user.is_staff %}
       <li class="nav-item">
          <a class="nav-link" href="{% url 'add' %}">Добавить собаку</a>
        </li>
      {% endif %}
      {% if user.is_authenticated %}
      <li class="nav-item">
          <a class="nav-link" href="{% url 'deals' %}">Заявки</a>
        </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Выход</a>
        </li>
      <li class="nav-item">
          <a class="nav-link disabled ml-4" href="#" tabindex="-1" aria-disabled="true">Добро пожаловать, {{ user.first_name }} {{ user.last_name }}</a>
        </li>
      {% else %}
          <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Вход</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'signup' %}">Регистрация</a>
        </li>
      {% endif %}
      </ul>
    </div>
</div>
</nav>

<div class="container mt-3">
 <div class="col-md-9">
    <section>
        {% block content %}
        {% endblock %}
    </section>
 </div>
</div>
</body>
</html>